/*
 Colors
Crimson Violet - #5F0F40
Deep Crimson - #9A031E
Princeton Orange - #FB8B24
Autumn Leaf - #E36414
Dark Teal - #0F4C5C
*/
@media screen {
  h1 {
    font-family: "Sekuya", system-ui;
  }
  img {
    width: 100%;
  }
}
@media (min-width: 576px) {
  h1 {
    font-size: 65px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 65px;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 75px;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 90px;
  }
}
