/*
 Colors
Crimson Violet - #5F0F40
Deep Crimson - #9A031E
Autumn Leaf - #E36414
Blue - #00caff
White- #ffffff
*/
@media screen {
  body {
    background-color: #5f0f40;
  }
  h1 {
    font-family: "Sekuya", system-ui;
    color: #00caff;
    margin-top: 23px;
  }
  h3 {
    font-family: "Sekuya", system-ui;
    color: #00caff;
    font-size: 14px;
  }
  h5 {
    font-family: sans-serif;
    color: #e36414;
  }
  h6 {
    font-family: sans-serif;
    color: #e36414;
  }
  img {
    width: 100%;
  }
  .caption {
    font-family: sans-serif;
    color: #9a031e;
    font-size: 12px;
    background-color: #00caff;
    font-weight: bold;
  }
  .credit {
    font-family: sans-serif;
    color: #9a031e;
    font-size: 12px;
    font-weight: lighter;
  }

  .narrative {
    font-family: sans-serif;
    color: #ffffff;
  }
  .pullquote {
    font-family: sans-serif;
    background-color: #00caff;
    font-size: larger;
    border-top: dashed;
  }
  .attribution {
    color: white;
  }
}
@media (min-width: 576px) {
  h1 {
    font-size: 25px;
  }
  img {
    width: 100%;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 35px;
  }
  img {
    width: 100%;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 50px;
  }
  img {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 75x;
  }
  img {
    width: 100%;
  }
}
