/*
MY COLOR PALETTE
Charcoal Blue #373F51
Blue Bell #008DD5
Almond Silk #DFBBB1
Bubblegum Pink #F56476
Magenta Bloom #E43F6F
*/
@media screen {
    #headshot {
        width: 100%;
        padding: None;
    }
    .fullwidth {
        padding: 0px;
    }
    button {
        background-color: #008dd5;
        color: #e43f6f;
        width: 174px;
        height: 48px;
        font-size: 144%;
    }

    button:hover {
        background-color: #dfbbb1;
    }

    .container-fluid {
        background-color: #373f51;
        color: #e43f6f;
    }
    h1 {
        font-family: "Archivo Black", sans-serif;
        letter-spacing: 1.6px;
        font-weight: bold;
        text-transform: uppercase;
        color: #e43f6f;
        text-align-last: left;
    }
    h4 {
        color: #dfbbb1;
    }
    #navigation {
        background-color: #dfbbb1;
        text-align: center;
        color: #e43f6f;
    }

.col-4 a {
    color: #e43f6f;
    text-decoration: none;
}
h3 {

  margin-top: 46px;

}
    .col-8{
        margin-bottom: 27px;
    }

@media (min-width: 576px) {
    h1 {
        font-size: 47px;
    }
    button {
        width: 141px;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 62px;
    }
    button {
        width: 160px;
    }
}
#button a {
    color: #e43f6f;
    text-decoration: none;
}
