@media screen {
#headshot {
    Width: 300px;
    float: left;
     Margin-right:29px;
}
Body {
    font-family:Arial, sans-serif;
}

#contact a {
    font-weight:bold;
    color: black;
    font-size: larger 20px;
}
#contact a:hover {
        color: red;
    }

#info{
    width: 500px;
   margin:auto;
}
#footer{
    position: fixed; bottom: 0px;
    margin: 0px; 
    background-color: aquamarine;
    width:100%
    }


    @media (min-width: 576px) {
        #headshot {
        Width: 300px; 
            float: left;
            margin-right: 29px;;
        }
